.accordion-enter-active,
.accordion-leave-active {
	will-change: height, opacity;
	transition: height 0.3s ease, opacity 0.3s ease;
	overflow: hidden;
}

.accordion-enter-from,
.accordion-leave-to {
	height: 0 !important;
	opacity: 0;
}

.slidein-enter-from,
.slidein-leave-to {
	transform: translateY(-50%);
	opacity: 0;
}

.slidein-enter-active,
.slidein-leave-active {
	transition: all 0.4s ease;
}

.slidein-enter-to,
.slidein-leave-from {
	transform: translateY(0rem);
	opacity: 1;
}
