*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	transition: all 0.3s linear;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	min-height: 100vh;
	overflow-x: hidden;
	background: #faf5ef;
}
