body {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	font-size: 1.6rem;
}

.satoshi-font {
	font-family: "Satoshi", sans-serif;
}

.heading-2 {
	@include font-sizing(2.6rem, 3.6rem, 3rem, 3.8rem, 4rem, 5rem);
	letter-spacing: -0.02em;
}

.heading-3 {
	@include font-sizing(1.6rem, 2.6rem, 2rem, 3rem, 3rem, 4rem);
	letter-spacing: -0.02em;
}

.heading-4 {
	@include font-sizing(1.6rem, 2.6rem, 2rem, 3rem, 2.6rem, 3.6rem);
}

.heading-6 {
	@include font-sizing(1.4rem, 2.4rem, 1.6rem, 2.8rem, 2rem, 3rem);
}

.paragraph-1 {
	@include font-sizing(1rem, 2rem, 1.4rem, 2.4rem, 1.6rem, 2.6rem);
}

.paragraph-2 {
	@include font-sizing(1.2rem, 2.2rem, 1.4rem, 2.4rem, 1.4rem, 2.4rem);
}

.body-small {
	@include font-sizing(1rem, 2rem, 1.4rem, 2.4rem, 1.4rem, 2.4rem);
}
